.author-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.author-name {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .author-name {
        font-size: 1.2rem;
        margin-bottom: .6rem;
    }
    .author-row {
        flex-direction: column;
    }
}