:root {
    --nav-title-fs: 3rem;
    --nav-title-fw: bold;
    --nav-link-fw: 300;
}

.header-responsive-nav {
    display: none;
}

.header-title {
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--nav-title-fs);
    font-weight: var(--nav-title-fw);
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav li a {
    text-decoration: none;
    color: var(--text-color-light);
    font-weight: var(--nav-link-fw); 
    padding: 1rem;   
}

.header-title:hover, .header-nav li a:hover {
    filter: brightness(2);
}

.menu-icon {
    cursor: pointer;
    position: fixed;
    top: 1.3rem;
    right: 1.2rem;
    height: 2.34rem;
}
.menu-icon:hover {
    filter: brightness(1.2);
    transform: scale(1.02);
}

.menu-icon img {
    height: 2.3rem;
    width: 2.3rem;
}

.resp-menu {
    margin-top: 1.5rem;
    margin-bottom: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.resp-menu div {
    margin: .5rem;
}

.resp-menu a {
    margin-right: 5rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-decoration: none;
    color: var(--text-color-light);
    font-weight: 400;
}
.resp-menu a:hover {
    filter: brightness(2);
}

.hidden {
    display: none;
}


@media (max-width: 600px) {
    .header-nav ul {
        display: none;
    }
    .header-responsive-nav {
        display: block;
    }
}